# Developer Tool Config Files
.cpcache
.DS_Store
.nrepl-port
.rebel_readline_history
.vscode
.lsp/*
.clj-kondo/*
!.clj-kondo/config.edn

# Build Directories and Files
/.key
/logs
/target

# Local Files
.config.edn
.data.edn
.auth.edn
